table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
}
td,
th {
    border: 1px solid lavenderblush;
}
tr:nth-child(even) {
    background-color: lavender;
}
button {
    padding: 2px;
    font-size: 8pt;
    background-color: aliceblue;
    border: 1px solid lightblue;
    border-radius: 2px;
}
.kosar button {
    color: red;
    width: 15px;
    height: 15px;
    padding: 0;
}

