
.tartalom p {
    font-size: 1em;
   
}
article h2 {
    font-size: 1.1em;
}

.tartalom {
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px
}
.kosar {
    font-size: 0.7em;
    background-color: aliceblue;
}

@media screen and (max-width:600px) {
    .tartalom {
       
        grid-template-columns: repeat(2,1fr);
        gap:10px
    }
}

@media screen and (max-width:300px) {
    .tartalom {
       
        grid-template-columns: repeat(1,1fr);
        gap:10px
    }
}